# Connection string for MySQL database
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# Secret used by NextAuth.js for signing/encrypting JWTs
NEXTAUTH_SECRET="your-secret-key"

# The base URL of your application (e.g. http://localhost:3000 or https://yourdomain.com)
NEXTAUTH_URL="http://localhost:3000"

# API key for accessing OpenWeatherMap data
OPENWEATHERMAP_API_KEY="your-openweathermap-api-key"

# API key for fetching news from NewsAPI
NEWS_API_KEY="your-news-api-key"

# Geoapify API key
NEXT_PUBLIC_GEOAPIFY_API_KEY="your-geoapify-api-key"

